<div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="{{ content.field_delay_time.0 }}">
<div class="count-box">
  <i class="bi {{ content.field_icon.0 }}"></i>
  <span data-purecounter-start="0" data-purecounter-end="{{ content.field_title.0 }}" data-purecounter-duration="1" class="purecounter"></span>
  <p><strong>{{ content.field_sub_title.0 }}</strong> {{ content.field_description.0 }}</p>
</div>
</div>